################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/.vs/MilkDrop3/copilot-chat/d39332ff/sessions
/code/.vs/MilkDrop3/CopilotIndices
/code/.vs/MilkDrop3/FileContentIndex
/code/.vs/MilkDrop3/v17/ipch/AutoPCH/412d8c84a2c079c2
/code/.vs/MilkDrop3/v17/ipch/AutoPCH
/code/.vs/MilkDrop3/v17/Preview
/code/vis_milk2/Debug
/code/vis_milk2/Release/BeatDrop.tlog
/code/.vs/MilkDrop3/v17
/.vs/MilkDrop3.2/v17
/code/vis_milk2/Release
/.vs
/musikcube/bin
/.gitignore
/code/vis_milk2/x64/Release/BeatDrop.tlog
/code/vis_milk2/x64/Release
*.aps
/code/vis_milk2/plugin.vcxproj
/code/vis_milk2/plugin.vcxproj.user
/code/.vs/RetroDrop/copilot-chat/d39332ff/sessions
/code/.vs/RetroDrop/CopilotIndices/17.13.444.19527
/code/.vs/RetroDrop/FileContentIndex
/code/.vs/RetroDrop/v17/ipch/AutoPCH
/code/.vs/RetroDrop/v17
